.lsp
.clj-kondo
.calva
bootleg
*.tgz
.babashka
*.html
*.db
*.db-journal
*.pdf
.DS_Store

# Binaries
/mergestat
/libmergestat.so
/curl-impersonate-ff

# VSCode
.venv
.vscode

.idea

# Local Netlify folder
.netlify

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
