{% extends "custom_base.html" %}

{% block title %} SG Law Archive Data {% endblock %}

{% block content %}

<section class="py-6 px-4 text-center max-w-sm mx-auto">
  <h1 class="text-2xl font-black">SG Law Archive Data</h1>
  <div class="text-left my-4">
    <ul class="list-disc">
      <li>
        <a href="/data/hearings">hearings</a>
      </li>
      <li>
        <a href="/data/lss_dt_reports">lss_dt_reports</a>
      </li>
      <li>
        <a href="/data/pdpc_decisions">pdpc_decisions</a>
      </li>
      <li>
        <a href="/data/pdpc_undertakings">pdpc_undertakings</a>
      </li>
      <li>
        <a href="/data/sc">sc</a>
      </li>
    </ul>
  </div>
</section>


{% endblock %}
